@import './src/settings/globals';
@import './src/settings/colors';

.link-container {
  display: flex;
  height: $settings-cont-height;
  justify-content: center;
  margin-bottom: 16px;
  width: $settings-cont-width;
}