@import './src/settings/globals';
@import './src/settings/colors';

.link-content {
    background-color: $brand-green;
    border-radius: $settings-border-radius;
    color: $brand-link;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    height: auto;
    padding: 1rem 66px;
    position: relative;
    text-decoration: none;
    width: 100%;

    :hover {

    }
}

a:hover {
  background: $brand-link;
  color: $brand-green;
}