//

@import 'common';

body {
  background: $off-white;
}

.App {
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 60px;
  text-align: center;
}

.mobile-wrap {
  background: $pure-white;
  height: 667px;
  padding: 24px;
  width: 375px;
}

.link-wrapper {
  padding: 16px 0 80px;
}